.product {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(100, 139, 139);
  color: #fff;
  border-radius: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: relative;

  &__image {
    object-fit: cover;
    width: inherit;
    height: 150px;
    border-radius: 10px 10px 0 0;
  }

  &__add {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgb(100, 139, 139);
    color: #fff;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;

    &:active {
      transform: scale(1.1);
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 15px;
  }

  &__title {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
  }

  &__price {
    font-weight: 500;
    font-size: 14px;
  }

  &__link {
    font-size: 14px;
    text-transform: capitalize;
    background-color: #fff;
    color: rgb(100, 139, 139);
    border-radius: 15px;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px auto;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05) rotate(5deg);
    }
  }
}

@media (max-width: 768px) {
  .product {
    width: 100%;

    &__footer {
      height: 35px;
    }
  }
}
