.products-container {
  display: grid;
  width: fit-content;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 20px;
  margin: auto;
  text-align: center;
}

@media (max-width: 1200px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .products-container {
    grid-template-columns: 1fr;
    gap: 30px;
    width: 80%;
  }
}
